{% extends 'base.html' %} {% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-centered">
                <h1 class="mt-5 mb-3">Edit User</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-3">
                <form method="post" action="{% url 'edit_user' user_id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" id="id_username" name="ed_username" class="form-control" value="{{name}}"
                            required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" id="id_eamil" name="ed_email" class="form-control" value="{{email}}"
                            required>
                    </div>

                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="id_user" name="ed_admin_or_superadmin" value="user"
                            class="custom-control-input" {% if not super_user and not admin %} checked {% endif %}
                            required>
                        <label class="custom-control-label" for="id_user">User</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="id_admin" name="ed_admin_or_superadmin" value="admin"
                            class="custom-control-input" {% if not super_user and admin %} checked {% endif %} required>
                        <label class="custom-control-label" for="id_admin">Admin</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="id_superadmin" name="ed_admin_or_superadmin" value="superadmin"
                            class="custom-control-input" {% if super_user and admin %} checked {% endif %} required>
                        <label class="custom-control-label" for="id_superadmin">Super Admin</label>
                    </div>
                    <div class="col-centered-btn">
                        <button type="submit" class="btn btn-primary">Modify</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}